<h1>Listing tasks</h1>

<div id="metas">
	<table>
	  <tr>
	    <th class="cuentas">Tareas</th>
	    <th>Ene</th>
	    <th>Feb</th>
	    <th>Mar</th>
	    <th>Abr</th>
	    <th>May</th>
	    <th>Jun</th>
	    <th>Jul</th>
	    <th>Ago</th>
	    <th>Set</th>
	    <th>Oct</th>
	    <th>Nov</th>
	    <th>Dic</th>
	    <th>Tot</th>
	  </tr>
	
	<% @res.each do |res| %>
	  <tr class="<%=cycle('list-line-odd','list-line-even')%>">
	    <td class="cuentas"><%= raw(res['name']) %></td>
	    <td><%= raw(res['m1']) %></td>
	    <td><%= raw(res['m2']) %></td>
	    <td><%= raw(res['m3']) %></td>
	    <td><%= raw(res['m4']) %></td>
	    <td><%= raw(res['m5']) %></td>
	    <td><%= raw(res['m6']) %></td>
	    <td><%= raw(res['m7']) %></td>
	    <td><%= raw(res['m8']) %></td>
	    <td><%= raw(res['m9']) %></td>
	    <td><%= raw(res['m10']) %></td>
	    <td><%= raw(res['m11']) %></td>
	    <td><%= raw(res['m12']) %></td>
	    <td><%= raw(res['tot']) %></td>
	  </tr>
	<% end %>
	</table>
</div>
<br />

<%= link_to 'New Task', new_task_path %>
